<!DOCTYPE html>
<html lang="en">
<head>
  <title>About Us111111111</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Picagroexporter ( Pellucid International Commerce Pvt Ltd ) with its headquarters at Mumbai, India, an exporting company with the motto of excellence has been growing tremendously in size and the range of its products. Having several centres of supply and distribution throughout India ‘PellucidAgro’ deals in a wide variety of products such as fruits, vegetables, dry fruits, spices, frozen fruits & vegetables products and so on.">
  <link rel="icon" href="favi.jpg" type="image/jpg" sizes="32x32">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="js/script.js"></script> 
</head>
<body class="style-1">
<% include ../views/navbar %>
  
  <div class="col-sm-12 parallax">
    <h1 class="text-center" style="padding-top: 50px;padding-bottom: 50px;font-size: 50px;color: white">About Us</h1>
  </div>
  <div class="col-sm-12 text-center text-justified slide" style="padding-left: 10%;padding-right: 10%;margin-top: 60px;margin-bottom: 30px;font-size: 30px;" class="text-justified"><b>"Picagroexporter ( Pellucid International Commerce Pvt Ltd )"</b> with its headquarters at Mumbai, India, an exporting company with the motto of excellence has been growing tremendously in size and the range of its products. Having several centres of supply and distribution throughout India ‘PellucidAgro’ deals in a wide variety of products such as fruits, vegetables, dry fruits, spices, frozen fruits & vegetables products and so on.</div>


<div class="col-lg-12" style="padding-top: 50px;padding-bottom: 50px;">
<h1 class="text-center text-justified" style="padding-top: 50px;padding-bottom: 50px;font-size: 50px;">Our Vision</h1>
  <div class="text-center slideanim" style="padding-left: 10%;padding-right: 10%;margin-top: 30px;margin-bottom: 30px;font-size: 30px;">" By means of a large assortment with exclusive products, extensive services and perfect customer service, we want to be globally-recognized the first choice for food manufacturing/Trading and exporting company "</div>
</div>

<div class="col-lg-12" style="padding-top: 50px;padding-bottom: 50px;">
<h1 class="text-center" style="padding-top: 50px;padding-bottom: 50px;font-size: 50px;">Our Partners</h1>
  <div class="col-md-3 col-sm-6 text-center slideanim"><img src="maersk.png" width="200" height="200"></div>
  <div class="col-md-3 col-sm-6 text-center slideanim"><img src="safmarine.png" width="200" height="200"></div>
  <div class="col-md-3 col-sm-6 text-center slideanim"><img src="orchid.png" width="200" height="200"></div>
  <div class="col-md-3 col-sm-6 text-center slideanim"><img src="allcargo.png" width="200" height="200"></div>
</div>


<% include ../views/footer %>
<script src="js/clicktonav.js"></script>
</body>
</html>