<!DOCTYPE html>
<html lang="en">
<head>
  <title>Contact</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Picagroexporter ( Pellucid International Commerce Pvt Ltd ) with its headquarters at Mumbai, India, an exporting company with the motto of excellence has been growing tremendously in size and the range of its products. Having several centres of supply and distribution throughout India ‘PellucidAgro’ deals in a wide variety of products such as fruits, vegetables, dry fruits, spices, frozen fruits & vegetables products and so on.">
  <link rel="icon" href="favi.jpg" type="image/jpg" sizes="32x32">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="js/script.js"></script> 
</head>
<body class="style-1">
<% include ../views/navbar %>

<div class="col-sm-12">
  <h1 class="text-center contit">Contact Us</h1>
  <iframe class="slide" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5180.520747102612!2d72.99749869592915!3d19.084798436958444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c12e3c39db7b%3A0x73daf2695f93ff0f!2sJuhu+Village%2C+Sector+11%2C+Vashi%2C+Navi+Mumbai%2C+Maharashtra+400703!5e0!3m2!1sen!2sin!4v1506952491196" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  <hr>
  <h1 class="text-center contit">Address & Contact Number</h1>
  <hr>
  <div class="col-sm-6 text-center slideanim">

  <p class="addfot"><i class="fa fa-map-marker" aria-hidden="true"></i></p>
    <h1 class="cpname">Pellucid International Commerce Pvt Ltd.</h1>
    <p class="addfot">H-51, Heri Om Niwas,</p>
    <p class="addfot">Sector - 11, Vashi,</p>
    <p class="addfot">Navi Mumbai 400 703</p>
    <p class="addfot">Maharashtra, India.</p>
  </div>

  <div class="col-sm-6 text-center slideanim">
    <p class="addfot"><i class="fa fa-phone" aria-hidden="true"></i></p>
    <p class="addfot phno"><a href="tel:+917715941505">+91 7715941505</a></p>
     <p class="addfot phno"><a href="tel:+918169559209">+91 8169559209</a></p>
     <p class="addfot"><i class="fa fa-envelope" aria-hidden="true"></i></p>
     <p class="addfot phno"><a href="mailto:jadhav.karan123@gmail.com?subject=Subject&body=message%20goes%20here">jadhav.karan123@gmail.com</a></p>
     <p class="addfot phno"><a href="mailto:pellucidintlc@gmail.com?subject=Subject&body=message%20goes%20here">pellucidintlc@gmail.com</a></p>
  </div>
</div>



<div class="col-sm-12">
<hr>
<h1 class="text-center contit">Enquiry/Order</h1>
<hr>

<form action="/email" method="post">
    <div class="col-sm-6 col-md-5 col-md-push-1 slideanim">
      <div class="form-group"> 
    <label for="full_name_id" class="control-label">Name</label>
    <input type="text" class="form-control" id="" name="yrname" placeholder="Enter your name" required>
  </div>
  <br>
   <div class="form-group"> 
    <label for="full_name_id" class="control-label">Email</label>
    <input type="text" class="form-control" id="" name="email" placeholder="Enter your email-id" required>
  </div>
  <br>
   <div class="form-group"> 
    <label for="full_name_id" class="control-label">Contact No</label>
    <input type="tel" class="form-control" id="" name="conno" placeholder="Enter mobile/phone number with country code" required>
  </div>
  <br>
   <div class="form-group"> 
    <label for="full_name_id" class="control-label">Order Description</label>
    <textarea type="text" class="form-control" id="" name="desc" placeholder="Mention the Products you want to order" required></textarea>
  </div>
  <br>
  
    </div>

    <div class="col-sm-6 col-md-5 col-md-push-1 slideanim">
  <div class="form-group"> 
    <label for="full_name_id" class="control-label">Order Quantity ( Example: 42 kg/quintal/ton/container )</label>
    <br>
    <input type="number" class="form-control2" id="quantity" name="quantity" placeholder="Enter requirement in number" required>
    <select class="form-control2" name="size" id="size" required>
    <option value="">Select</option>
  <option value="Kg">Kg</option>
  <option value="Quintal">Quintal</option>
  <option value="Ton">Ton</option>
  <option value="Container">Container</option>
</select>
  </div>
  <br>
   <div class="form-group"> 
    <label for="full_name_id" class="control-label" >Type</label>
    <select class="form-control" name="type" required>
    <option value="">Select</option>
  <option value="Organic">Organic</option>
  <option value="Non-organic">Non-organic</option>
</select>
  </div>
  <br>
   <div class="form-group"> 
    <label for="full_name_id" class="control-label">Destination Port</label>
    <input type="number" class="form-control" id="" name="port" placeholder="Mention the destination port" required>
  </div>
  <br>
   <div class="form-group"> 
    <label for="full_name_id" class="control-label">Shipping By</label>
    <select class="form-control" name="shipby" required>
    <option value="">Select</option>
  <option value="Sea">By Sea</option>
  <option value="Air">By Air</option>
</select>
  </div>
  <br>
    </div>
   
    <div class="col-sm-12 text-center">
    <button class="btn btn-lg btn-info" id="gitou">Get in Touch</button>
    </div>
 </form>
</div>
<% include ../views/footer %>
<script src="js/clicktonav.js"></script>
</body>
</html>