<div class="col-sm-12 ossvn--footer slideanim">
  <div class="col-sm-4 text-center" style="padding-top:50px;padding-bottom: 50px">
    <h2><b>Sitemap</b></h2>
      <h4><a href="/">HOME</a></h4>
      <h4>PRODUCT</h4>
      <h4>SERVICES</h4>
      <h4>ABOUT US</h4>
      <h4><a href="/contact">CONTACT</a></h4>
  </div>
  <div class="col-sm-4 text-center" style="padding-top:50px;padding-bottom: 50px">
    <h2><b>Get in Touch</b></h2>
      <h4><i class="fa fa-facebook social" aria-hidden="true"></i>
      <i class="fa fa-twitter social" aria-hidden="true"></i>
      <i class="fa fa-linkedin social" aria-hidden="true"></i>
      <i class="fa fa-google-plus social" aria-hidden="true"></i>
      <i class="fa fa-skype social" aria-hidden="true"></i></h4>
  </div>
  <div class="col-sm-4 text-center" style="padding-top:50px;padding-bottom: 50px">
    <h2><b>Contact</b></h2>
    <h4  class="phno"><i class="fa fa-phone" aria-hidden="true"></i>
 <a href="tel:+917715941505">+91 7715941505</a></h4>
    <h4 class="phno"><i class="fa fa-phone" aria-hidden="true"></i>
 <a href="tel:+918169559209">+91 8169559209</a></h4>
  </div>
</div>


<div class="col-sm-12" style="background: #f3f3f3;border-top: 1px solid #e3e3e3">
  <div class="col-sm-6 text-center" style="padding-top:20px;padding-bottom: 20px;"><i class="fa fa-copyright" aria-hidden="true"></i> 2017 Pellucid International Commerce Pvt Ltd.</div>
  <div class="col-sm-6 text-center" style="padding-top:20px;padding-bottom: 20px;"><a href="#headtop">Go to TOP <i class="fa fa-arrow-up" aria-hidden="true"></i></a></div>
</div>