<!DOCTYPE html>
<html lang="en">
<head>
  <title>Picagroexporter</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" datascope="picagroexporter" content="Picagroexporter ( Pellucid International Commerce Pvt Ltd ) with its headquarters at Mumbai, India, an exporting company with the motto of excellence has been growing tremendously in size and the range of its products. Having several centres of supply and distribution throughout India ‘PellucidAgro’ deals in a wide variety of products such as fruits, vegetables, dry fruits, spices, frozen fruits & vegetables products and so on.">
  <link rel="icon" href="favi.jpg" type="image/jpg" sizes="32x32">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <link href="bootstrap-touch-slider.css" rel="stylesheet" media="all">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet"  href="lightslider.css"/>
  <script src="lightslider.js"></script> 
  <script src="js/script.js"></script> 
  <script src="js/lslider.js"></script> 
  <script src="js/btslider.js"></script>
</head>
<body class="style-1">

<% include ../views/navbar %>

 <div id="abcd" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel"  data-interval="3000" >
            <ol class="carousel-indicators">
                <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
                <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
                <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
                <li data-target="#bootstrap-touch-slider" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <!-- <div class="item ">
                    <img src="bg-home-banner.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
                </div> -->
                <div class="item">
                    <img src="export3.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
                </div>
                <div class="item active">
                    <img src="bg-grapes.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
                </div>
                <div class="item">
                    <img src="pomegranate-india.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
                </div>
            </div>
            <a class="left carousel-control" href="#abcd" role="button" data-slide="prev">
                <span class="fa fa-angle-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#abcd" role="button" data-slide="next">
                <span class="fa fa-angle-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div> 
  </div>
</div>

<div class="container-fluid">
  <div class="row servi">
  <h1 class="text-center" style="padding-top: 50px;padding-bottom: 50px;font-size: 40px;">What we provide?</h1>
    <div class="col-sm-12 slideanim">
      <div class="col-sm-4 eximfc text-center"><span class="eximfc2"><b>EXPORT</b><br><span class="eximfc3">UNLIMITED EXTENSIVE LIST OF CLIENT’S NETWORK</span></span></div>
      <div class="col-sm-4 eximfc text-center"> <span class="eximfc2"><b>IMPORT</b><br><span class="eximfc3">MOST FAMOUS BRANDS FROM ALL OVER THE WORLD</span></span></div>
      <div class="col-sm-4 eximfc text-center"><span class="eximfc2"><b>FACILITY</b><br><span class="eximfc3">FACILITY THAT CAN CARRY OVER 70 CONTAINERS</span></span></div>
    </div>
  </div>
</div>

<div class="col-sm-12">
<h1 class="text-center" style="padding-top: 50px;padding-bottom: 50px">The goodness is accentuated by sheer aesthetic appeal and resulting good health is truly glamorous.</h1>
	<div class="wrapper-main-glamorous">
                                    <div class="col-md-4 col-sm-6 slideanim">
                                        <div class="main-glamorous">
                                            <div class="wrapper-img-glamorous"><img src="icons-gla-1.png" alt="" class="img-responsive hvimg"></div><p  class="links-icons-gla">Fruits</p>
                                          <p class="text-gla">Lorem ipsum dolor sit amet, consectetuery adipiscing elit, sed diam nonummy nibhumils euismod tincidunt ut laoreet.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 slideanim">
                                        <div class="main-glamorous">
                                            <div class="wrapper-img-glamorous"><img src="icons-gla-2.png" alt="" class="img-responsive"></div><p  class="links-icons-gla">vegetables</p>
                                            <p class="text-gla">Lorem ipsum dolor sit amet, consectetuery adipiscing elit, sed diam nonummy nibhumils euismod tincidunt ut laoreet.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 slideanim">
                                        <div class="main-glamorous">
                                            <div class="wrapper-img-glamorous"><img src="icons-gla-3.png" alt="" class="img-responsive"></div><p  class="links-icons-gla">Dry Fruits</p>
                                            <p class="text-gla">Lorem ipsum dolor sit amet, consectetuery adipiscing elit, sed diam nonummy nibhumils euismod tincidunt ut laoreet.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 slideanim">
                                        <div class="main-glamorous">
                                            <div class="wrapper-img-glamorous"><img src="icons-gla-4.png" alt="" class="img-responsive"></div><p  class="links-icons-gla">Spices</p>
                                            <p class="text-gla">Lorem ipsum dolor sit amet, consectetuery adipiscing elit, sed diam nonummy nibhumils euismod tincidunt ut laoreet.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 slideanim">
                                        <div class="main-glamorous">
                                            <div class="wrapper-img-glamorous"><img src="icons-gla-5.png" alt="" class="img-responsive"></div><p  class="links-icons-gla">Frozen fruits & vegetables</p>
                                            <p class="text-gla">Lorem ipsum dolor sit amet, consectetuery adipiscing elit, sed diam nonummy nibhumils euismod tincidunt ut laoreet.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 slideanim">
                                        <div class="main-glamorous">
                                            <div class="wrapper-img-glamorous"><img src="icons-gla-6.png" alt="" class="img-responsive"></div><p  class="links-icons-gla">good taste</p>
                                            <p class="text-gla">Lorem ipsum dolor sit amet, consectetuery adipiscing elit, sed diam nonummy nibhumils euismod tincidunt ut laoreet.</p>
                                        </div>
                                    </div>
                                </div>
</div>

<div class="col-sm-12" >
  <h1 class="text-center" style="padding-top: 50px;padding-bottom: 50px;font-size: 50px;">Products</h1>
        <div class="item slideanim" style="padding-left: 10%;padding-right: 10%">
            <ul id="content-slider" class="content-slider" >
            <% if(products){
            products.forEach(function(prod){%>
                <li class="text-center">
                    <%-cloudy.image(prod.image.cn,{ width: 400, height: 400 })%>
                    <!-- <img src="apple.png" class="img-responsive"> -->
                </li>
                <%});}%>
                <!-- <li class="text-center">
                    <img src="banana.png" class="img-responsive">
                </li>
                <li class="text-center">
                    <img src="Berries.png" class="img-responsive">
                </li>
                <li class="text-center">
                    <img src="Tomatos.png" class="img-responsive">
                </li>
                <li class="text-center">
                    <img src="Vegetables.png" class="img-responsive">
                </li>
                <li class="text-center">
                    <img src="Pineapple.png" class="img-responsive">
                </li> -->
            </ul>
        </div>

        <h2 class="text-center"><a href="/products"><button class="btn btn-lg text-center viewall">View All</button></a></h2>
</div>


<div class="col-lg-12" style="padding-top: 50px;padding-bottom: 50px;">
<h1 class="text-center" style="padding-top: 50px;padding-bottom: 50px;font-size: 50px;">Partners</h1>
  <div class="col-md-3 col-sm-6 text-center slideanim"><img src="maersk.png" width="200" height="200"></div>
  <div class="col-md-3 col-sm-6 text-center slideanim"><img src="safmarine.png" width="200" height="200"></div>
  <div class="col-md-3 col-sm-6 text-center slideanim"><img src="orchid.png" width="200" height="200"></div>
  <div class="col-md-3 col-sm-6 text-center slideanim"><img src="allcargo.png" width="200" height="200"></div>
</div>


<div class="col-sm-12" style="padding-top: 100px;padding-bottom: 100px;background-color: green;">
  <h1 class="text-center" style="padding-bottom: 50px;font-size: 50px;color: white;">Events & Exhibition</h1>
  <div class="item slideanim" >            
            <div class="clearfix" style="max-width:474px;margin: auto;">
                <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                    <li data-thumb="img/thumb/cS-1.jpg"> 
                        <img src="img/cS-1.jpg" />
                         </li>
                    <li data-thumb="img/thumb/cS-2.jpg"> 
                        <img src="img/cS-2.jpg" />
                         </li>
                    <li data-thumb="img/thumb/cS-3.jpg"> 
                        <img src="img/cS-3.jpg" />
                         </li>
                    <li data-thumb="img/thumb/cS-4.jpg"> 
                        <img src="img/cS-4.jpg" />
                         </li>
                    <li data-thumb="img/thumb/cS-5.jpg"> 
                        <img src="img/cS-5.jpg" />
                         </li>
                    <li data-thumb="img/thumb/cS-6.jpg"> 
                        <img src="img/cS-6.jpg" />
                         </li>
                    <li data-thumb="img/thumb/cS-7.jpg"> 
                        <img src="img/cS-7.jpg" />
                         </li>
                    <li data-thumb="img/thumb/cS-8.jpg"> 
                        <img src="img/cS-8.jpg" />
                         </li>
                    <li data-thumb="img/thumb/cS-9.jpg"> 
                        <img src="img/cS-9.jpg" />
                         </li>
                    <li data-thumb="img/thumb/cS-10.jpg"> 
                        <img src="img/cS-10.jpg" />
                         </li>
                    <li data-thumb="img/thumb/cS-11.jpg"> 
                        <img src="img/cS-11.jpg" />
                         </li>
                    <li data-thumb="img/thumb/cS-12.jpg"> 
                        <img src="img/cS-12.jpg" />
                         </li>
                    <li data-thumb="img/thumb/cS-13.jpg"> 
                        <img src="img/cS-13.jpg" />
                         </li>
                    <li data-thumb="img/thumb/cS-14.jpg"> 
                        <img src="img/cS-14.jpg" />
                         </li>
                    <li data-thumb="img/thumb/cS-15.jpg"> 
                        <img src="img/cS-15.jpg" />
                         </li>
                </ul>
            </div>
        </div>
</div>

<% include ../views/footer %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.18/jquery.touchSwipe.min.js"></script>
<script src="bootstrap-touch-slider.js"></script>
<script src="js/clicktonav.js"></script>
</body>
</html>