<!DOCTYPE html>
<html lang="en">
<head>
  <title>Products</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="favi.jpg" type="image/jpg" sizes="32x32">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
        <!-- Bootstrap bootstrap-touch-slider Slider Main Style Sheet -->
        <!-- <link href="bootstrap-touch-slider.css" rel="stylesheet" media="all"> -->
<link rel="stylesheet" type="text/css" href="style.css">
<!-- <link rel="stylesheet"  href="lightslider.css"/> -->
  <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script> -->
<!--  <script src="lightslider.js"></script> --> 
 <script src="js/script.js"></script> 

<style type="text/css">
  .brdbtm{
    border-bottom: 1px solid #eee;
  }
    .nav-tabs > li {
    float:none;
    display:inline-block;
    zoom:1.2;
}

.nav-tabs {
    text-align:center;
}
</style>

</head>
<body class="style-1">

<% include ../views/navbar %>
  <h1 class="text-center" style="padding-top: 30px;padding-bottom: 30px;font-size: 50px;">Products</h1>

<div class="container">
<div class="row"> 
<ul class="nav nav-tabs text-center">
      <li class="active">
        <a  href="#1" data-toggle="tab">Fruits</a>
      </li>
      <li><a href="#2" data-toggle="tab">Vegetables</a>
      </li>
      <li><a href="#3" data-toggle="tab">Dry Fruits</a>
      </li>
      <li><a href="#4" data-toggle="tab">Spices</a>
      </li>
      <li><a href="#5" data-toggle="tab">Frozen fruits & vegetables</a>
      </li>
    </ul>

      <div class="tab-content ">
        <div class="tab-pane active" id="1">

 <div class="col-sm-12 brdbtm">
  <div class="col-sm-3 text-center"><img src="apple.png"  height="200"></div>
  <div class="col-sm-9" style="font-size: 20px;padding-top: 15px;padding-bottom: 15px;">India is the world’s largest producer of mangoes and the world’s best mangoes are found in India. The mangoes which ‘Swarna Trades’ export are the optimum in quality, size as well as taste and therefore it commands popularity in several nations across the world. Without the application of chemicals we export our Mangoes to Europe, North America, Middle East, Asia and Australia. The varieties of Mangoes which we export are given below. For detailed product specifications and pricing, you may contact us.</div>
</div>

<div class="col-sm-12 brdbtm">
  <div class="col-sm-3 text-center "><img src="banana.png"  height="200"></div>
  <div class="col-sm-9" style="font-size: 20px;padding-top: 15px;padding-bottom: 15px;">India is ranked as the largest producer of bananas with 7 million tons to its credit and Indian bananas are unique than found in any other part of the world. The range of Indian Bananas that we Swarna Trades export has immense nutritive worth and has a distinctive taste and excellent packing which suit international standards. We have customers from Middle East and South-East Asia and we are continuously expanding to many new centres throughout the world. For detailed product specifications and pricing, you may contact us.
</div>
</div>

<div class="col-sm-12 brdbtm">
  <div class="col-sm-3 text-center "><img src="Pomegranate.png"  height="200"></div>
  <div class="col-sm-9" style="font-size: 20px;padding-top: 15px; padding-bottom: 15px;">The pomegranate is botanically known as Punica Granatum L, are from the family of Punicaceae.  Pomegranate has been extensively cultivated in India from time immemorial. The export of our Pomegranates is during its season from December to April. Our exported varieties of Pomegranates are red in colour and weighs around 250-450 gms. The packing is in 3kg or 5kg or in quantities required by customers and is transported by sea or air. For detailed product specifications and pricing, you may contact us.
</div>
</div>

<div class="col-sm-12 brdbtm">
  <div class="col-sm-3 text-center "><img src="Pineapple.png"  height="200"></div>
  <div class="col-sm-9" style="font-size: 20px;padding-top: 15px;padding-bottom: 15px;">India is among the biggest exporters of pineapples. The pineapple belongs to the family Bromeliaceae and known by the botanical name of Ananas Comosus Merr. We export high quality fresh pineapples to several clients throughout the world, particularly to the Middle East and South-East Asia. The pineapples which we export are big fruits which are oval in shape and available in good export suitable packing. For detailed product specifications and pricing, you may contact us.
</div>
</div>

<div class="col-sm-12 brdbtm">
  <div class="col-sm-3 text-center "><img src="Tropical.png"  height="200"></div>
  <div class="col-sm-9" style="font-size: 20px;padding-top: 15px;padding-bottom: 15px;">The Papaya is a common tropical fruit. India ranks second amongst the papaya producing nations. Indian Papaya can be obtained round the year and we currently primarily export our Papayas to the Middle East and Europe and we are expanding our export to other continents of the world. The papaya which we export is big in size and has a skin that is thin with a green color and the colour of the flesh ranges from yellowish orange to red. Our exported papayas weigh between 400-500 gms or 1-1.25 kg for Middle East and Europe respectively. Packing is in 5kg or 8kg packing or in any other quantities required. For detailed product specifications and pricing, you may contact us.
</div>
</div>
        </div>


        <div class="tab-pane" id="2">

          <div class="col-sm-12 brdbtm">
  <div class="col-sm-3 text-center "><img src="onion.png"  height="200"></div>
  <div class="col-sm-9" style="font-size: 20px;padding-top: 15px;padding-bottom: 15px;">Onion is among the leading commercial crops cultivated in India and India is the world’s largest exporting country with regard to onions. Since several centuries, onions produced in India have received increasing demand from overseas.  We Swarna Trades are a leading exporter of onions in India and we have the following varieties available for export. Packing of our various varieties of onions is available in mesh bags or jute gunny bags or baskets of different quantities.
</div>
</div>

<div class="col-sm-12 brdbtm">
  <div class="col-sm-3 text-center "><img src="carrot.png"  height="200"></div>
  <div class="col-sm-9" style="font-size: 20px;padding-top: 15px;padding-bottom: 15px;">Carrot, the botanical name of which is Daucus Carota derived its name from a French word Carotte, and it is in turn derived from the Latin word Carota. We Swarna Trades export Fresh Carrots with excellent packing to be transported by sea or air. For detailed product specifications and pricing, you may contact us.
</div>
</div>

<div class="col-sm-12 brdbtm">
  <div class="col-sm-3 text-center "><img src="French Beans.png"  height="200"></div>
  <div class="col-sm-9" style="font-size: 20px;padding-top: 15px;padding-bottom: 15px;">The botanical name of French beans is known as Phaseolus Vuigaris L and is harvested annually. We Swarna Trades export long, slender and fleshy green beans which is nutritious in good export quality packing to several countries throughout Middle East and Asia and are expanding our base to other destinations as well. For detailed product specifications and pricing, you may contact us.
</div>
</div>

<div class="col-sm-12 brdbtm">
  <div class="col-sm-3 text-center "><img src="lemon.png"  height="200"></div>
  <div class="col-sm-9" style="font-size: 20px;padding-top: 15px;padding-bottom: 15px;">The Lemon Citrus × Limon is commercially cultivated in India. The size of our exported Lemons is 20-25 mm, and packing is in 5 Kg gunny bags and 20 kg wooden boxes or in packing required by customers. For detailed product specifications and pricing, you may contact us.
</div>
</div>

<div class="col-sm-12 brdbtm">
  <div class="col-sm-3 text-center "><img src="potato.png"  height="200"></div>
  <div class="col-sm-9" style="font-size: 20px;padding-top: 15px;padding-bottom: 15px;">The Potato is also botanically known as Solanum Tuberosum. In India, over the past several decades, Ppotato has become the fastest growing staple crop. We export the finest quality of Indian Potatoes which meet the international quality norms with regard to size, skin color, flesh, taste, dry matter content etc. Our packing is in 50kg gunny bag and can also be packed according to your requirement. For detailed product specifications and pricing, you may contact us.
</div>
</div>

<div class="col-sm-12 brdbtm">
  <div class="col-sm-3 text-center "><img src="Tomatos.png"  height="200"></div>
  <div class="col-sm-9" style="font-size: 20px;padding-top: 15px;padding-bottom: 15px;">The botanical name for tomato is Lycopersicon Esculentum. The Tomatoes, which we export, are juicy and tasty with high nutritious value. Packing meets international standards and is being exported by sea or air to several countries throughout the world. For detailed product specifications and pricing, you may contact us.
</div>
</div>

<div class="col-sm-12 brdbtm">
  <div class="col-sm-3 text-center "><img src="capsicum.png"  height="200"></div>
  <div class="col-sm-9" style="font-size: 20px;padding-top: 15px;padding-bottom: 15px;">Capsicum is a species of plants from the nightshade family of Solanaceae. In Indian English, the word 'Capsicum' is intended for bell pepper. We export Green, Yellow and Red Capsicums to several countries in various quantities of packing and according to the requirements of each buyer. For detailed product specifications and pricing, you may contact us.
</div>
</div>

<div class="col-sm-12 brdbtm">
  <div class="col-sm-3 text-center "><img src="chilly.jpg"  height="200"></div>
  <div class="col-sm-9" style="font-size: 20px;padding-top: 15px;padding-bottom: 15px;">One of the main export products of India is Chillies. India is the only country rich in many Types of Chillies having different quality variations. The varieties of Green Chillies which we export are of 3-4 inch length and packing is of 5 Kg and is also provided according to the requirements of each buyer. For detailed product specifications and pricing, you may contact us.
</div>
</div>

        </div>


        <div class="tab-pane" id="3">
          

          <div class="col-sm-12 brdbtm">
  <div class="col-sm-3 text-center "><img src="almond.png"  height="200"></div>
  <div class="col-sm-9" style="font-size: 20px;padding-top: 15px;padding-bottom: 15px;">Pepper botanically known as Piper Nigrum is also known as ‘Black Gold’. We export pepper to several customers across the world. For detailed product specifications and pricing, you may contact us.
</div>
</div>

<div class="col-sm-12 brdbtm">
  <div class="col-sm-3 text-center "><img src="Cashew.png"  height="200"></div>
  <div class="col-sm-9" style="font-size: 20px;padding-top: 15px;padding-bottom: 15px;">Pepper botanically known as Piper Nigrum is also known as ‘Black Gold’. We export pepper to several customers across the world. For detailed product specifications and pricing, you may contact us.
</div>
</div>

<div class="col-sm-12 brdbtm">
  <div class="col-sm-3 text-center "><img src="dates.png"  height="200"></div>
  <div class="col-sm-9" style="font-size: 20px;padding-top: 15px;padding-bottom: 15px;">Pepper botanically known as Piper Nigrum is also known as ‘Black Gold’. We export pepper to several customers across the world. For detailed product specifications and pricing, you may contact us.
</div>
</div>

<div class="col-sm-12 brdbtm">
  <div class="col-sm-3 text-center "><img src="apricot.png"  height="200"></div>
  <div class="col-sm-9" style="font-size: 20px;padding-top: 15px;padding-bottom: 15px;">Pepper botanically known as Piper Nigrum is also known as ‘Black Gold’. We export pepper to several customers across the world. For detailed product specifications and pricing, you may contact us.
</div>
</div>

<div class="col-sm-12 brdbtm">
  <div class="col-sm-3 text-center "><img src="coconut.png"  height="200"></div>
  <div class="col-sm-9" style="font-size: 20px;padding-top: 15px;padding-bottom: 15px;">Pepper botanically known as Piper Nigrum is also known as ‘Black Gold’. We export pepper to several customers across the world. For detailed product specifications and pricing, you may contact us.
</div>
</div>

<div class="col-sm-12 brdbtm">
  <div class="col-sm-3 text-center "><img src="chironji.jpg"  height="200"></div>
  <div class="col-sm-9" style="font-size: 20px;padding-top: 15px;padding-bottom: 15px;">Pepper botanically known as Piper Nigrum is also known as ‘Black Gold’. We export pepper to several customers across the world. For detailed product specifications and pricing, you may contact us.
</div>
</div>

<div class="col-sm-12 brdbtm">
  <div class="col-sm-3 text-center "><img src="dried raisins.png"  height="200"></div>
  <div class="col-sm-9" style="font-size: 20px;padding-top: 15px;padding-bottom: 15px;">Pepper botanically known as Piper Nigrum is also known as ‘Black Gold’. We export pepper to several customers across the world. For detailed product specifications and pricing, you may contact us.
</div>
</div>

<div class="col-sm-12 brdbtm">
  <div class="col-sm-3 text-center "><img src="fig.png"  height="200"></div>
  <div class="col-sm-9" style="font-size: 20px;padding-top: 15px;padding-bottom: 15px;">Pepper botanically known as Piper Nigrum is also known as ‘Black Gold’. We export pepper to several customers across the world. For detailed product specifications and pricing, you may contact us.
</div>
</div>

<div class="col-sm-12 brdbtm">
  <div class="col-sm-3 text-center "><img src="walnut.png"  height="200"></div>
  <div class="col-sm-9" style="font-size: 20px;padding-top: 15px;padding-bottom: 15px;">Pepper botanically known as Piper Nigrum is also known as ‘Black Gold’. We export pepper to several customers across the world. For detailed product specifications and pricing, you may contact us.
</div>
</div>

<div class="col-sm-12 brdbtm">
  <div class="col-sm-3 text-center "><img src="peanut.png"  height="200"></div>
  <div class="col-sm-9" style="font-size: 20px;padding-top: 15px;padding-bottom: 15px;">Pepper botanically known as Piper Nigrum is also known as ‘Black Gold’. We export pepper to several customers across the world. For detailed product specifications and pricing, you may contact us.
</div>
</div>


        </div>


        <div class="tab-pane" id="4">

          <div class="col-sm-12 brdbtm">
  <div class="col-sm-3 text-center "><img src="cardamom.png"  height="200"></div>
  <div class="col-sm-9" style="font-size: 20px;padding-top: 15px;padding-bottom: 15px;">Cardamom (Small) is botanically known as Elettaria Cardamomum Maton. Cardamom (Large) is botanically known as Amomum Subulatum. The Cardamom which we export is popular throughout the world. For detailed product specifications and pricing, you may contact us.
</div>
</div>

 <div class="col-sm-12 brdbtm">
  <div class="col-sm-3 text-center "><img src="pepper.png"  height="200"></div>
  <div class="col-sm-9" style="font-size: 20px;padding-top: 15px;padding-bottom: 15px;">Pepper botanically known as Piper Nigrum is also known as ‘Black Gold’. We export pepper to several customers across the world. For detailed product specifications and pricing, you may contact us.
</div>
</div>

 <div class="col-sm-12 brdbtm">
  <div class="col-sm-3 text-center "><img src="ginger.png"  height="200"></div>
  <div class="col-sm-9" style="font-size: 20px;padding-top: 15px;padding-bottom: 15px;">Ginger is botanically known as Zingiber Officinale. The ginger which we export is in good demand across many countries. For detailed product specifications and pricing, you may contact us.
</div>
</div>

 <div class="col-sm-12 brdbtm">
  <div class="col-sm-3 text-center "><img src="turmeric1.png"  height="200"></div>
  <div class="col-sm-9" style="font-size: 20px;padding-top: 15px;padding-bottom: 15px;">Turmeric is botanically known as Curcuma Longa. Our several varieties of Turmeric are in increased demand across continents. For detailed product specifications and pricing, you may contact us.
</div>
</div>

 <div class="col-sm-12 brdbtm">
  <div class="col-sm-3 text-center "><img src="Coriander.png"  height="200"></div>
  <div class="col-sm-9" style="font-size: 20px;padding-top: 15px;padding-bottom: 15px;">Coriander is botanically known as Coriandrum Sativum. We offer coriander of different types to buyers throughout the world. For detailed product specifications and pricing, you may contact us.
</div>
</div>

 <div class="col-sm-12 brdbtm">
  <div class="col-sm-3 text-center "><img src="cumin.png"  height="200"></div>
  <div class="col-sm-9" style="font-size: 20px;padding-top: 15px;padding-bottom: 15px;">Cumin is botanically known as Cuminum Cyminum and is exported in huge quantities across the world. For detailed product specifications and pricing, you may contact us.
</div>
</div>

 <div class="col-sm-12 brdbtm">
  <div class="col-sm-3 text-center "><img src="red chilli.png"  height="200"></div>
  <div class="col-sm-9" style="font-size: 20px;padding-top: 15px;padding-bottom: 15px;">The popular varieties of Red chillies which we export are Sanam Chilies, Wonderhot Chilies, Byadgi Chilies, Wrinkled Chilies,Teja Chilies and so on. For detailed product specifications and pricing, you may contact us.
</div>
</div>

        </div>


        <div class="tab-pane" id="5">

          <div class="col-sm-12 brdbtm">
  <div class="col-sm-3 text-center "><img src="frozen1.jpg"  height="200"></div>
  <div class="col-sm-9" style="font-size: 20px;padding-top: 15px;padding-bottom: 15px;">Cardamom (Small) is botanically known as Elettaria Cardamomum Maton. Cardamom (Large) is botanically known as Amomum Subulatum. The Cardamom which we export is popular throughout the world. For detailed product specifications and pricing, you may contact us.
</div>
</div>

 <div class="col-sm-12 brdbtm">
  <div class="col-sm-3 text-center "><img src="frozen2.jpg"  height="200"></div>
  <div class="col-sm-9" style="font-size: 20px;padding-top: 15px;padding-bottom: 15px;">Pepper botanically known as Piper Nigrum is also known as ‘Black Gold’. We export pepper to several customers across the world. For detailed product specifications and pricing, you may contact us.
</div>
</div>

        </div>

      </div>
  </div>

  </div>


<% include ../views/footer %>
<script src="js/clicktonav.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.18/jquery.touchSwipe.min.js"></script> -->
<!-- <script src="bootstrap-touch-slider.js"></script> -->
</body>
</html>